#header{
    font-size: 20px;
  }
  body {
      font-family: 'Noto Sans', sans-serif;
      margin: auto;
      max-width: 100%;
      background:url(Login.jpg)fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
    